In [6]:
import pandas as pd 
import numpy as np

In [7]:
NFL_Data = pd.read_csv("dataset_.csv")

In [8]:
NFL_Data.head()

,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,passing_yards_away,...,redzone_away,redzone_home,drives_away,drives_home,def_st_td_away,def_st_td_home,possession_away,possession_home,score_away,score_home
0,2002-09-05,49ers,Giants,13,21,4-12,9-16,0-0,0-1,166,...,0-8,0-6,13,15,0,0,27:32,32:28,16,13
1,2002-09-08,Jets,Bills,18,26,2-8,7-17,0-0,2-2,193,...,0-9,0-8,17,18,2,0,21:06,39:08,37,31
2,2002-09-08,Vikings,Bears,19,20,5-13,7-13,0-0,0-0,228,...,0-7,0-6,17,17,0,0,31:31,28:29,23,27
3,2002-09-08,Chargers,Bengals,27,13,6-10,4-11,0-0,0-0,160,...,0-7,0-5,11,15,0,0,37:48,22:12,34,6
4,2002-09-08,Chiefs,Browns,24,24,5-11,4-11,0-0,0-0,276,...,0-10,0-10,20,17,0,0,30:16,29:44,40,39

In [9]:
Cleaned_NFL_Data = NFL_Data[['date','away','home','turnovers_away','turnovers_home','possession_away','possession_home','score_away','score_home']]
Cleaned_NFL_Data.head()

,date,away,home,turnovers_away,turnovers_home,possession_away,possession_home,score_away,score_home
0,2002-09-05,49ers,Giants,1,3,27:32,32:28,16,13
1,2002-09-08,Jets,Bills,1,3,21:06,39:08,37,31
2,2002-09-08,Vikings,Bears,3,2,31:31,28:29,23,27
3,2002-09-08,Chargers,Bengals,0,1,37:48,22:12,34,6
4,2002-09-08,Chiefs,Browns,1,1,30:16,29:44,40,39

In [11]:
Cleaned_NFL_Data.to_csv("Cleaned_NFL_Data.csv",index=0)